﻿
@{
    ViewData["Title"] = "Customers";
    bool userIsAdmin = false;
    this.Context.Session.TryGetValue("User", out byte[] value);
    string user = System.Text.Encoding.UTF8.GetString(value);
    if (user == "Admin") { userIsAdmin = true; }

}
<h1>@ViewData["Title"]</h1>
<div>
    <h4> Hello, @ViewBag.Message</h4>
    <table id="customersTable">
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>City</th>
            <th>Phone</th>
            @if (userIsAdmin)
            {
                <th>Seller Name</th>
            }
         </thead>
         @foreach (var item in ViewBag.list)
          {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.City
                    </td>
                    <td>
                        @item.Phone
                    </td>
                    @if (userIsAdmin)
                    {
                        <td>
                            @item.SellerName
                        </td>
                    }
                </tr>
          }
        </table>
</div>
<style>
    table#customersTable {
        width: 100%;
        background-color: #ADD8E6;
    }

    table#t01 tr:nth-child(even) {
        background-color: #0000FF;
    }

    table#t01 tr:nth-child(odd) {
        background-color: #6495ED;
    }

    table#t01 th {
        color: white;
        background-color: #00008B;
    }

    table, th, td {
        border: 1px solid black;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 15px;
    }
</style>




