﻿@model Sales.Core.Entities.User
@using System.Security.Claims
@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @DateTime.Now 
    <table>
        <tr>
            <td>@Html.LabelFor(a => a.Email)</td>
            <td>@Html.TextBoxFor(a => a.Email)</td>
            <td>@Html.ValidationMessageFor(a => a.Email)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.Password)</td>
            <td>@Html.TextBoxFor(a => a.Password)</td>
            <td>@Html.ValidationMessageFor(a => a.Password)</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Login" /></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" name="manterlogado" id="manterlogado" value="" />
                <label for="manterlogado">Manter-me logado</label>
            </td>
        </tr>
    </table>
}
